PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=petcare
DATABASE_USER=petcare_user
DATABASE_PASSWORD=change_me

JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

# Origen permitido para CORS (frontend web Angular en desarrollo)
CORS_ORIGIN=http://localhost:4200